.auth-modal .modal-content {
  border-radius: 20px;
  border: none;
  max-width: 450px;
  margin: 0;
  position: relative;
  justify-content: center;
}

.auth-modal .modal-body {
  padding: 2rem !important;
  text-align: center;
}

.auth-modal .modal-backdrop.show {
  opacity: 0.8;
}


.input-icon {
  display: flex;
  align-items: center;
  position: relative;
}
.input-icon i {
  margin-right: 0.75rem;
  color: gray;
  flex-shrink: 0;
}
.input-icon .form-control {
  flex: 1;
}
.invalid-text {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.input-icon.email-field .form-control.is-invalid {
  background-position: right 0.75rem center !important;
}

/* Password wrapper */
.password-field {
  display: flex;
  align-items: center;
}
.lock-icon {
  font-size: 1.25rem;
  color: gray;
}
.password-toggler {
  color: #6c757d;
  cursor: pointer;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.modal-body h2 {
  font-weight: 200;
}

.modal-body button {
  font-size: 1.1rem;
  font-weight: bold;
}

.auth-toast-container {
  position: fixed;
  top: 10rem;
  left: 48%;
  transform: translateX(-50%);
  z-index: 2000;
  width: auto;
  padding: 5px 10px;
  justify-content: center;
}

.auth-toast {
  min-width: 320px;  
  border: none !important;
  border-radius: 10px;                      
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.auth-toast .toast-body {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: #fff !important;
  text-align: center;
}

.auth-toast.success {
  background-color: #28a745 !important;  
}

.auth-toast.danger {
  background-color: #f44336 !important; 
}

@keyframes slideDown {
  from { transform: translateY(-100%); opacity: 0; }
  to   { transform: translateY(0%);     opacity: 1; }
}

.slide-down-toast {
  animation: slideDown 0.5s ease-out;
}
